pathos~=0.2.9
pymia~=0.3.4
matplotlib~=3.9.2
numpy~=2.1.1
Pillow~=10.0.1
scikit-learn~=1.5.2
SimpleITK~=2.1.1.2
pandas~=2.2.3

pyradiomics==3.0.1
PyWavelets==1.7.0
pykwalify==1.8.0
docopt==0.6.2
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12